body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-image: url("./images/defqon_red.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    background-color: rgba(34, 34, 34, 0.8);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.menu-icon {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    z-index: 4;
    color: #fff;
    background-color: rgba(34, 34, 34, 0.8);
    transition: right 0.5s ease; /* Added transition property */
}

.sidebar a {
    padding: 8px 32px 8px 8px;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #8a8989;
}

.page-info {
    background-color: rgba(51, 51, 51, 0.8);
    color: #ffffff;
    border: 20px solid transparent;
    text-align: left;
    margin: 40px;
    flex: 1;
}

.page-info-header {
    padding: 20px;
}

.top-bar {
    background-color: rgba(51, 51, 51, 1);
    color: #fff;
    padding: 10px;
    text-align: left;
    height: 125px;
    position: relative;
    z-index: 1;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    z-index: 2;
    margin-top: auto;
}

.secondary-footer {
    background-color: #333;
    color: #fff;
    text-align: left;
    z-index: 2;
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-top: auto;
    flex-direction: row;
}

.contact-info {
    margin: 20px;
}

.instagram-post {
    margin: 50px;
}

.contact-info h3 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: left;
}

.contact-info p {
    font-size: 16px;
    margin: 5px 0;
}

.text-at-top {
    flex: 1;
    text-align: left;
    padding-right: 20px;
}

.instagram-post {
    margin-left: auto;
}

@media only screen and (max-width: 600px) {
    .page-info {
        margin: 10px;
    }
    
    .page-info h3 {
        font-size: 18px;
    }

    .page-info p {
        font-size: 14px;
    }

    .footer,
    .secondary-footer {
        width: 100%;
        flex-direction: column;
        align-items: stretch;
    }
}
